<!DOCTYPE html>
<html>
<body>
<h2>SMART Agenda</h2>

<p>SMART Agenda using SPADE multiagent platform.</p>

<form action="" method="post">
  <fieldset>
    <legend>Create new account:</legend>
    <p>Name:
    <input type="text" name="firstname" placeholder="Enter name here" value = "{{ firstname }}">
    <br><br>
    Transport preference:<br>
    <div style="display:block;">
        	<select name = "transport1">
            	<option value="train">Train</option>
    			<option value="airplane">Airplane</option>
    			<option value="car">Car</option>
        	</select>
        	<select name = "transport2">
            	<option value="train">Train</option>
    			<option value="airplane">Airplane</option>
    			<option value="car">Car</option>
        	</select>
            <select name = "transport3">
            	<option value="train">Train</option>
    			<option value="airplane">Airplane</option>
    			<option value="car">Car</option>
        	</select>
   		</div>
  <br>
  Hotel stars preference:
  <br><br>
  <select name = "hotel">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br><br>
  Prefered hours from 0 (impossible) to 10 (best) for automatic filling: 
  <br><br>
  <div style="display:inline-block">
    8h-10h: 
    <select name = "hour_1">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    10h-12: 
    <select name = "hour_2">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    12h-14h:
    <select name = "hour_3">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    14h-16h: 
    <select name = "hour_4">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    16h-18h: 
    <select name = "hour_5">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  <br><br>
  <input type="submit" value ="Create an account">
  </fieldset>
</form>

<br>

<form action="" method="post">
	<fieldset>
    	<legend>Add an event:</legend>  		      
		Name:
    	<input type="text" name="user" placeholder="Name of user" value = "{{ user }} ">
    	<br><br>
        <div style="display:block;">
        Date:   
        	<input type="text" name="day" placeholder="Day Ex:28" value = "{{ day }}" style="width: 100px;">
            <input type="text" name="month" placeholder="Month Ex: 05" value = "{{ month }}" style="width: 100px;">
            <input type="text" name="year" placeholder="Year Ex: 2018" value = "{{ year }}" style="width: 100px;">
            <input type="text" name="hour" placeholder="Hour Ex: 20" value = "{{ hour }}" style="width: 100px;">
   		</div>
        <br>
        Event:
    	<input type="text" name="event" value = " ">
    	<br><br>
 		<input type="submit" value ="Add an event">
	</fieldset>
</form>

<br>

<form action="" method = "post">
	<fieldset>    
    <legend>Agenda:</legend>
        <div style="display:block;">
        	Name: <input type="text" name="user_name" value= "{{ user_name }} ">
            <input type="submit" value ="View agenda">
   		</div>
        <br>
</form>
<form action="" method="post">
      <div style="display:block;">
        Date:   
          <input type="text" name="new_day" placeholder="Day Ex:28" value = "{{ day }}" style="width: 100px;">
            <input type="text" name="new_month" placeholder="Month Ex: 05" value = "{{ month }}" style="width: 100px;">
            <input type="text" name="new_year" placeholder="Year Ex: 2018" value = "{{ year }}" style="width: 100px;">
            <input type="text" name="new_hour" placeholder="Hour Ex: 20" value = "{{ hour }}" style="width: 100px;">
            <input type="text" name="duration" placeholder="Duration Ex: 2" value = "{{ duration }}" style="width: 100px;">
            <p> <font size="2.5"> 5 is maximum priority </font> <p>
              Priority:
            <input type="text" name="priority" value = "{{ priority }}" style="width: 100px;">
            <input type="checkbox" name="movable" value="movable"> Movable (only works with non groups events) <br>
      </div>
        <br>
        Event:
      <input type="text" name="new_event" value = " ">
      <br><br>
    <input type="submit" value ="Modify event">
</form>
</fieldset>
</body>
</html>
